[user]
	name = Nate Cox
	email = nate@natecox.dev
[push]
	default = simple
[pull]
	ff = only
[core]
	excludesfile = $HOME/.gitignore_global
[diff]
	tool = opendiff
[merge]
	tool = opendiff
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main