[push]
	default = simple
[pull]
	ff = only
[core]
	editor = emacsclient -c
	excludesfile = $HOME/.gitignore_global
[diff]
	tool = opendiff
[merge]
	tool = opendiff
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
